###########
#   OEM   #
###########   
# To activate OEM reownership wizard, under Heads recovery console, do:
#   mount /boot
#   mount -o remount,rw /boot
#   echo "oem_name=COMPANY NAME" > /boot/oem
#   mount -o remount,ro /boot
#   reboot
#
# To activate OEM automatic provisioning, the content of this file needs to be found by Heads under:
#  /media/oem-provisioning
# By default, the USB drive is mounted from /dev/sdb1
#   Heads will try to mount the first primary partition found on 2nd mounted device.
# 
# Replace variables content with your own!
#   ******* NOTE THAT USING THE '=' CHARACTER IS PROHIBITED IN ALL PROVISIONING SECRETS BELOW!!!! *****
#     It is used to split variables! You're better with a passphrase anyway! More easy to remember to humans
#       more difficult to break for computers!
#
#The following needs to be put in /boot/oem for OEM name to be shown at OEM Reownership wizard first screen. Else it is going to be "your OEM".
oem_name=Insurgo Open Technologies

#########
#  GPG  #
#########
# GPG card function in Heads:
#   The LibremKey/NitroKey is a traditional GPG card, added with HMAC-based One-time Password (HOTP) which permits 
#     to seal integrity measurements into the GPG card memory. 
#     
#     As a functional result, at each boot, the card will flash its LED green if the measured boot integrity 
#       is atttestedor red otherwise.
# 
#     Heads traditionally stores Trusted Module Platform (TPM) Time-based One-time Password (TOTP) code in a 
#       smartphone through the scanning of a QR code into an OTP authenticator application. 
#
#     *** You should use both TOTP/HOTP so you can still validate attested integiryt in case your GPG card gets lost ***
#
#     HOTP/TOTP are functionally similar, while the LibremKey/Nitrokey permits to validate integrity visually in an 
#       instant without having to unlock the smartphone, open the OTP application and verify that a 6 digits code there 
#       is the same that is shown on the screen. 
#       HOTP LibremKey/Nitrokey feature is complementory to the TOTP and shares the same codebase.
#
#     Heads also depends on the GPG card to store used private key outside of prying eyes, securely stored on the
#       Smartcard. When factory resetting the card, only the public key is inserted into the rom, which is used
#       to automatically validate the integiryt of /boot files through checksuming and validating the the result
#       matches what is signed with the private key on the GPG card.
#
#     Heads will warn the user each time boot configuration changes. 
#       That will happen when the Operating System applies core system updates (Xen, Kernel, initrd (drivers) 
#       and grub configuration) while notifying the user of any addition/supression of files expected to be found 
#       in the /boot partition.
#
# GPG usage in Heads:
#   Heads will prompt the user for:
#     User PIN: 
#       Sign boot configuration changes.
#     Admin PIN:
#       Seal Firmware changes through HOTP
#     
#  IMPORTANT: 
#   The user should always reboot the system and sign configuration changes as soon as possible to attest
#     the ownership of the changes.
#   The user should always be cautious about TOTP/HOTP errors if he didn't update the firmware himself.
#     
#   Heads primary goal is to automatically attest of the integrity of the firmware and /boot files.
#     That integrity attestation is based on those two practices that REQUIRES TO BE FOLLOWED. 
#
# PIN Notes: GPG PINs are protected in the SmartCard. After 3 bad attempts, the SmartCard locks that account.
#  When the User PIN is locked, the Admin PIN can be used to unlock User PIN.
#  When the Admin PIN is locked, a Reset Code can be used to unlock Admin PIN.
#   This is not provisioned by default. You will have to set one manually yourself.
#   
#  You can define an additional "Reset Code" to reset the Admin PIN manually by doing:
#    gpg --card-edit
#       admin
#       passwd
#         4 - set the Reset Code
#           Type Admin PIN
#
#GPG SmartCard desired Admin PIN to provision GPG factory reset. 
# Admin PIN manages Admin functions of the card through gpg --edit-card admin functions, 
# In Heads, the Admin PIN is required to seal HOTP secret into NitroKey/LibremKey when firmware has been modified.
# 
# NOTES: If the GPG card is lost, the user won't be able to seal firmware changes through HOTP.
# Size constaints: minimum 8 characters, maximum 20 characters. 
#   No need to go crazy here. Remember that 3 bad attempts locks the account. One or two Diceware words are enough.
#     Use KeepassXC password manager or something like https://www.rempe.us/diceware/#eff
oem_gpg_Admin_PIN=InsurgoTech
#
#GPG SmartCard desired User PIN to provision GPG factory reset.
# User PIN manages user functions of the card. It is used to encrypt files and e-mails, sign files and e-mails 
#   and authenticate the user in daily operations when used in combination with the public key generated.
#     That public key needs to be kept, as it is impossible to export it from the smartcard.
# In Heads, the User PIN is required to sign boot configuration changes.
#   At each boot, the imported public key counterpart is used to validate the checksums of the files signed with the card.
# 
# NOTES: If the GPG card is lost, the user won't be able to sign system changes.
# Size constaints: minimum 6 characters, maximum 20 characters. 
#   No need to go crazy here. Remember that 3 bad attempts locks the account. One or two Diceware words are enough.
#     Use KeepassXC password manager or something like https://www.rempe.us/diceware/#eff
oem_gpg_User_PIN=Insurgo
#GPG SmartCard desired Real Name to provision GPG factory reset. 
# This will be used to construct the ID of the public key: "Real Name (Comment) email@address.org" 
# 
# Size constaints: minimum 5 characters. 
oem_gpg_real_name=Insurgo Integrity Attestation Delivered LibremKey
#GPG SmartCard desired E-mail address to provision GPG factory reset. 
# This will be used to construct the ID of the public key: "Real Name (Comment) email@address.org" 
#   Note that some services requires that e-mail address to be real and will send an e-mail to validate it.
#     If you intend to use the GPG card to encrypt/sign e-mails, this is a good idea to provide main e-mail account here. 
oem_gpg_email=insurgo@riseup.net
#GPG SmartCard desired Comment to provision GPG factory reset. 
# This will be used to construct the ID of the public key: "Real Name (Comment) email@address.org" 
#   If you have multiple cards associated with the same E-mail address, this is a good place to name it's usage difference 
oem_gpg_comment=FACTORY RESET ME

##########
#  LUKS  #
##########
# LUKS containers are used in Linux to encrypt whole filesystems.
# The whole idea behind OEM reownership depends on the LUKS reencryption of the container by the user when the hardware
#   is received. Otherwise, the OEM would know the cloned image LUKS Disk Recovery Key and could hand it to authorities.
#   This provisioning wizard starts by asking you to enter the actual LUKS Disk Recovery Key password to reencrypt it 
#   completely.
#
#   This LUKS Disk Recovery Key, if provided by the OEM **** SHOULD NOT BE MODIFIED *****
oem_luks_actual_Disk_Recovery_Key=InsurgoTech
# This is where you want to define your new Disk Recovery Key, which will be associated to reencrypted LUKS container 
#   after the OEM wizard is over.
#
#   This provisioning wizard continues by asking you to enter the desired LUKS Disk Recovery Key passphrase and changes 
#   it.
#
#   The Disk Recovery Key will be prompted to the user in the following cases:
#     1-Every boot if no Disk Unlock Key was added to the TPM (NOT RECOMMENDED!!!!)
#     2-If the TPM fails (Hardware failure)
#     3-If the firmware has been tampered with/upgraded/modified by the user
#
# NOTES: If the Disk Recovery Key Passphrase is lost, the user won't be able to set a new Disk Unlock Key.
#   More importantly, in the case of a Operating System core update (Xen, Kernel, initrd (drivers) or grub config,
#     The Default Boot option will be invalidated, and the only way to boot the system will be by typing this
#     Disk Recovery Key Passphrase. ********** CHOOSE IT CAREFULLY ***********
#
# Size constaints: select a Diceware passphrase of at least 3 words. 6 is better. 
#   No need to go crazy here. It's better to have a shorter but strong passphrase you remember and not type often
#     then a strong passphrase that locks you out of the system and required you to reinstall.
#       Use KeepassXC password manager or something like https://www.rempe.us/diceware/#eff
oem_luks_new_Disk_Recovery_Key=InsurgoTech
# Disk Unlock Key Passphrase is the passphrase the user will be required to type to start the Operating System.
#
# The Disk Unlock Key is another security feature enforced by Heads that makes it special.
#   The Disk Unlock Key is released by the Trusted Platform Module (TPM), a cryptographic component on which
#   depends Heads to measure and attest firmware integrity, only if the measurements of the firmware are intact 
#   (sealed). In the case the firmware has been modified, that the user lost/forgot his GPG card, the Disk Unlock
#   key passphrase will refuse to release the actual Disk Unlock Key and will not boot, unless you to type the 
#   Disk Recovery Key Passphrase. Normally, Heads would not be able to unseal neither TOTP/HOTP in case of a firmware
#   modification and should warn the user. 
#
#   The Disk Unlock Key Passphrase will refuse to unlock the disk also if the LUKS header is not consistent with what
#     was sealed into the TPM when selecting a default boot option.
#
#   Functionnaly, selecting a default boot option and setting a Disk Unlock Key is a good security measure against 
#     prying eyes, let them be camera recording or over the shoulder passphrase capture. 
#     Since that Key is bounded with firmware integrity measurements from the TPM, that passphrase is bound to this 
#     computer only. 
#
#     A third party which would clone the disk and attempt to access its content later would succeed only if 
#     Disk Recovery Key passphrase was typed, not the Disk Unlock Key passphrase. 
#
# Size constaints: Best is to select a Diceware passphrase of at least 4 words. 6+ is better. 
# Use KeypassXC password manager or something like https://www.rempe.us/diceware/#eff
#   No need to go crazy here. An attacker would have 3 attempts at a time when booting Heads.
#     Use KeepassXC password manager or something like https://www.rempe.us/diceware/#eff
#   You will be prompted to change this passphrase at every core Operating System upgrades.
oem_luks_Disk_Unlock_Key=Insurgo

###################################
#  Trusted Platform Module (TPM)  #
###################################
# The TPM passphrase is required when sealing the Disk Unlock Key when selecting a new default boot option, 
#   combined with the GPG User PIN.
# 
# It is recommended to reuse GPG Admin Passphrase/Password here, to not unecessarily multiply secrets to remember.
oem_TPM_Owner_Password=InsurgoTech
