CONFIG_VENDOR_STARLABS=y
CONFIG_BOARD_STARLABS_LITE_GLK=y
CONFIG_MAINBOARD_SERIAL_NUMBER="I300000"
CONFIG_SBOM=y
CONFIG_SMMSTORE=y
CONFIG_USE_UEFI_VARIABLE_STORE=y
CONFIG_TPM_MEASURED_BOOT=y
CONFIG_BOOTMEDIA_SMM_BWP=y
CONFIG_BOOTMEDIA_SMM_BWP_RUNTIME_OPTION=y
CONFIG_CBFS_SIZE=0x100000
CONFIG_IFD_CHIPSET="glk"
CONFIG_POST_IO=n
CONFIG_BOOT_PROFILE_2=y
CONFIG_ADD_FSP_BINARIES=y
CONFIG_FSP_M_FILE="3rdparty/blobs/mainboard/starlabs/lite/glk/FSP/Release/Fsp_M.fd"
CONFIG_FSP_S_FILE="3rdparty/blobs/mainboard/starlabs/lite/glk/FSP/Release/Fsp_S.fd"
CONFIG_PAYLOAD_LINUX=y
CONFIG_PAYLOAD_FILE="@BOARD_BUILD_DIR@/bzImage"
CONFIG_LINUX_INITRD="@BOARD_BUILD_DIR@/initrd.cpio.xz"
