CONFIG_VENDOR_STARLABS=y
CONFIG_BOARD_STARLABS_STARBOOK_CEZANNE=y
CONFIG_EC_STARLABS_ADD_ITE_BIN=y
CONFIG_MAINBOARD_SERIAL_NUMBER="B6A0000"
CONFIG_SBOM=y
CONFIG_SMMSTORE=y
CONFIG_USE_UEFI_VARIABLE_STORE=y
CONFIG_CBFS_SIZE=0x01000000
CONFIG_POST_IO=n
CONFIG_ADD_FSP_BINARIES=y
CONFIG_FSP_M_FILE="../amd_binaries/FSP/CEZANNE_M.fd"
CONFIG_FSP_S_FILE="../amd_binaries/FSP/CEZANNE_S.fd"
CONFIG_RUN_FSP_GOP=y
CONFIG_USE_AMD_BLOBS=y
CONFIG_ADD_APCB_SOURCES=y
CONFIG_APCB_SOURCES_PATH="../amd_binaries/CZN/APCB/Release"
CONFIG_AMDFW_CONFIG_FILE="src/mainboard/starlabs/cezanne/fw.cfg"
CONFIG_TPM_MEASURED_BOOT=y
CONFIG_PAYLOAD_LINUX=y
CONFIG_PAYLOAD_FILE="@BOARD_BUILD_DIR@/bzImage"
CONFIG_LINUX_INITRD="@BOARD_BUILD_DIR@/initrd.cpio.xz"
