# Configuration for a Acer Chromebook Plus 515 (CB515-2H/OMNIGUL)
CONFIG_COREBOOT_CONFIG=config/coreboot-omnigul.config

export CONFIG_COREBOOT=y
export CONFIG_COREBOOT_VERSION=mrchromebox
export CONFIG_LINUX_VERSION=6.5.13

CONFIG_CRYPTSETUP2=y
CONFIG_FLASHROM=y
CONFIG_FLASHTOOLS=y
CONFIG_GPG2=y
CONFIG_KEXEC=y
CONFIG_UTIL_LINUX=y
CONFIG_LVM2=y
CONFIG_MBEDTLS=y
CONFIG_PCIUTILS=y
CONFIG_POPT=y
CONFIG_QRENCODE=y
CONFIG_TPMTOTP=y
CONFIG_HOTPKEY=n

#TPM2 requirements
export CONFIG_TPM2_TOOLS=y
export CONFIG_PRIMARY_KEY_TYPE=ecc
CONFIG_TPM2_TSS=y
CONFIG_OPENSSL=y

# Boot Options (GUI)
CONFIG_CAIRO=y
CONFIG_FBWHIPTAIL=y
export CONFIG_AUTO_BOOT_TIMEOUT=5
export CONFIG_BOOT_DEV="/dev/sda2"
export CONFIG_BOOT_KERNEL_ADD=""
export CONFIG_BOOT_KERNEL_REMOVE=""
export CONFIG_BOOTSCRIPT=/bin/gui-init

# Boot Security / Flash Options
export CONFIG_BOOT_REQ_HASH=n
export CONFIG_BOOT_REQ_ROLLBACK=n
export CONFIG_BOARD_NAME="Google Omnigul"
export CONFIG_FLASHROM_OPTIONS="--noverify-all -p internal --ifd --image bios"
#export CONFIG_ROOT_DEV="/dev/sda3"
#export CONFIG_ROOT_DIRLIST="bin boot lib sbin usr"
#export CONFIG_ROOT_CHECK_AT_BOOT="n"

# Linux Specific Configuration Items
CONFIG_LINUX_CONFIG=config/linux-omnigul.config
CONFIG_LINUX_USB=y
CONFIG_SUPPORT_USB_KEYBOARD=y
